nav {
background: #43cea2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #185a9d, #43cea2);
}

nav i{
    color: #d8efec !important;
}

.preloader-wrapper {
    left: 45%;
    margin-top: 65px
}

.mr {
    margin-right: 15px;
}

.block {
    display: block;
}

.nowarp {
    white-space: nowrap;
}


.logo {
    color: #d8efec !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px !important;
    width: 75%;
}

.search_active {
    border: 3px solid red;
}

.sidenav {
    width: 260px !important;
}

#slide-out {
    padding: 20px;
}

.collection .collection-item.avatar {
    padding-left: 10px;
}

.collection .collection-item .title {
    margin-left: 20px;
    position: absolute;
    margin-top: 20px;
    display: inline;
}

.bt-content span {
    display: block;
    font-size: 15px;
    text-align: center;
}

._id {
    width: calc(100% - 200px);
}

.input_error {
    border-bottom: 1px solid red !important;
    -webkit-box-shadow: 0 1px 0 0 red !important;
    box-shadow: 0 1px 0 0 red !important;
}

.star {
    cursor: pointer;
    position: absolute;
    z-index: 222;
    font-size: 26px;
    color: yellow;
    margin-top: 16px;
    right: 7px;
    text-shadow: -1px 1px 6px #000000, 1px 1px 6px #949494, -1px 1px 0px #ffe81e, 1px -1px 0px #607D8B;
}

#test2 .card .card-content {
    padding: 7px !important;
}

#test2 .card .card-reveal {
     padding: 0px !important;
 }

 #test2 .card .card-image {
    padding-top: 10px;
 }


 #test2 .card ul {
     width: calc(100% - 7%);
    margin-left: 5px;
    margin-top: 2px;
 }


 #test2 .card ul li {
    cursor: pointer;
 }




 .card .card-title {
     font-style: italic; 
    font-size: 13px !important;
    padding: 13px !important;
}

.card img {
    margin: 0px auto;
    width: 100px !important;
    height: 120px;
}

.bottom {
    position: absolute;
    bottom: 8px;
    right: 6px;
}

img {
    width: 90px;
    height: 120px;
}

#search_res {
    height: 0;
    display: block;
    position: absolute !important;
    right: 3px;
    margin-top: 18px;
    color: red;
    font-size: 14px;
    z-index: 999;
}
.st-logo,.st-disclaimer {
    display: none;
}

._id {
  margin: 0px auto;
}